*{
    margin: 0px;
    padding: 0px;
}

.menu{

    background-color: rgb(0, 0, 0);
padding: 1px;
margin: 2px;
color: #ffffff;
display: flex;
align-items: center;
justify-content: space-around;
}


.logo1:hover{

    cursor: pointer;
}

.logo1{

    width: 200px; padding-right: 300px;
    height: 150px;

}



.menus{

display: flex;
font-size: large;
list-style: none;
}


#item:hover{
    color: aqua;
    cursor: pointer;
}



#item{

    margin: 10px; padding-right: 15px;
}


#item1:hover{
    color: aqua;
    cursor: pointer;
}

#item1{

    margin: 10px; padding-right: 15px;
}

#item2:hover{
    color: aqua;
    cursor: pointer;
}


#item2{

    margin: 10px; padding-right: 15px;
}
/* the end of navbar */

.banner1{
width: 1100px;


}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: #ffffff;
   margin: auto;
    background-image: url("/images/background.png"), linear-gradient(45deg,#131614,#02171f);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    
}

#name{

    font-size: 50px;
    font-weight: bold;
}

#details{

    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#button{

    padding: 20px 40px;
    font-size: 18px;
    background-color: rgb(235, 41, 7);
color: #ffffff;
}
#button:hover{
    color: rgb(0, 255, 85);
    cursor: pointer;

}


